
# build artifacts
*.o
*.a
*.so
lab4/src/parallel_min_max
lab4/src/process_memory
lab4/src/zombie
lab4/src/psum
lab5/src/mutex_no_lock
lab5/src/mutex_with_lock
lab5/src/parallel_factorial
lab5/src/deadlock
lab6/src/client
lab6/src/server
lab7/src/tcpserver
lab7/src/tcpclient
lab7/src/udpserver
lab7/src/udpclient
lab6/src/servers.txt
lab2/src/revert_string/dynamic_app
lab2/src/revert_string/revert_app
lab2/src/revert_string/static_app
lab2/src/swap/swap_app
lab2/src/tests/tests_app
lab3/src/exec_seq
lab3/src/parallel_min_max
lab3/src/sequential_min_max
lab4/src/pmm_test
*.log
*.pid
