# Compiled and build artifacts
*.o
*.a
*.so

# Executables (specific to this project's lab structure)
os-and-networks/os_lab_2019/lab2/src/revert_string/dynamic_app
os-and-networks/os_lab_2019/lab2/src/revert_string/revert_app
os-and-networks/os_lab_2019/lab2/src/revert_string/static_app
os-and-networks/os_lab_2019/lab2/src/swap/swap_app
os-and-networks/os_lab_2019/lab2/src/tests/tests_app
os-and-networks/os_lab_2019/lab3/src/exec_seq
os-and-networks/os_lab_2019/lab3/src/parallel_min_max
os-and-networks/os_lab_2019/lab3/src/sequential_min_max
os-and-networks/os_lab_2019/lab4/src/parallel_min_max
os-and-networks/os_lab_2019/lab4/src/pmm_test
os-and-networks/os_lab_2019/lab4/src/process_memory
os-and-networks/os_lab_2019/lab4/src/psum
os-and-networks/os_lab_2019/lab4/src/zombie
os-and-networks/os_lab_2019/lab5/src/deadlock
os-and-networks/os_lab_2019/lab5/src/mutex_no_lock
os-and-networks/os_lab_2019/lab5/src/mutex_with_lock
os-and-networks/os_lab_2019/lab5/src/parallel_factorial
os-and-networks/os_lab_2019/lab6/src/client
os-and-networks/os_lab_2019/lab6/src/server
os-and-networks/os_lab_2019/lab7/src/tcpclient
os-and-networks/os_lab_2019/lab7/src/tcpserver
os-and-networks/os_lab_2019/lab7/src/udpclient
os-and-networks/os_lab_2019/lab7/src/udpserver